<div class="row">

  <div class="nav col-lg-2 user-menu bg-layer1">
    <ul class="nav flex-column">
      <li class="nav-item bg-layer4">
        <a class="nav-link text-primary" [routerLink]="['/user', 'data']" routerLinkActive="active">Meus dados</a>
      </li>
      <li class="nav-item bg-layer4">
        <a class="nav-link text-primary" [routerLink]="['/user', 'list']" routerLinkActive="active">Minha lista</a>
      </li>
      <li class="nav-item bg-layer4">
        <a class="nav-link text-primary" [routerLink]="['/user', 'lendings']" routerLinkActive="active">Meus emprestimos</a>
      </li>
      <li class="nav-item bg-layer4">
        <a class="nav-link text-primary" [routerLink]="['/user', 'comments']" routerLinkActive="active">Meus comentários</a>
      </li>
    </ul>
  </div>

  <div class="nav col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>
