<div class="fill">

  <div class="box">

    <div class="image">
      <img src="./assets/logocolor.png" />
    </div>

    <h2 class="color-primary">O que é?</h2>
    <p class="text-primary">
    A biblioteca social do CSA A Gralha é um espaço de construção colectiva que disponibiliza um acervo para estimular o pensamento crítico e a (auto-)reflexão; inspirar práticas de auto-gestão, autonomia e transformação radical; apoiar a criação de conhecimento acessível e o exercício da investigação desde/para a comunidade e os movimentos sociais de base; facilitar o intercâmbio de saberes e fazeres emancipatórios; contribuir para a preservação da memória histórica, entre outros.
    </p>

    <app-gallery></app-gallery>

    <h2 class="color-primary">Como é que funciona?</h2>

    <h3 class="color-primary">1. Empréstimo:</h3>
    <p class="text-primary">
      A biblioteca social disponibiliza para empréstimo a maior parte dos seus materiais (publicações e audiovisuais), exceptuando-se aqueles que apresentam uma etiqueta de cor roxa na lombada. Todos os empréstimos são gratuitos.
    </p>
    <p class="text-primary">
      A requisição, a renovação, a devolução e a reserva podem ser realizadas durante os dias de abertura do centro, das 16h às 20h, através do sistema da biblioteca social que está disponível no piso 0 do CSA A Gralha.
    </p>
    <p class="text-primary">
      É necessário inicialmente criar uma conta de amigue no sistema da biblioteca social, através da qual passarás a auto-gerir os teus empréstimos, a renovação, as devoluções e os pedidos de reserva. Poderás ainda partilhar as tuas experiências de leitura na caixa de comentários.
    </p>
    <p class="text-primary">
      O período máximo de requisição é de 14 dias; o número de empréstimos em simultâneo é de duas publicações/audiovisuais.
    </p>
    <p class="text-primary">
      É possível proceder à renovação do empréstimo, desde que a biblioteca não necessite do material em causa para responder a outros pedidos. Cada empréstimo pode ser renovado até ao limite máximo de seis pedidos sucessivos.
    </p>
    <p class="text-primary">
      A devolução terá de ser feita presencialmente, no termo do prazo definido, no CSA A Gralha.
    </p>
    <p class="text-primary">
      É possível pedir a reserva de materiais da biblioteca, num limite máximo de duas publicações/audiovisuais em simultâneo. Os pedidos mantêm-se válidos durante cinco dias após a disponibilidade da reserva.
    </p>


    <h3 class="color-primary">2. Gestão de doações:</h3>
    <p class="text-primary">
      O acervo físico da biblioteca social é construído principalmente através de doações por parte de individualidades, colectivos, editoras, livrarias e centros de documentação.
    </p>
    <p class="text-primary">
      A biblioteca social recebe doações de livros, dvd’s, fanzines, jornais, revistas, posters, postais e folhetos, com base nos seguintes critérios: a adequação dos materiais aos princípios do CSA A Gralha, aos objectivos gerais e eixos temáticos da 	biblioteca, duplicidade com a colecção actual, estado de conservação e espaço disponível.
    </p>
    <p class="text-primary">
      Para a realização de doações, entra em contacto connosco presencialmente ou através do e-mail <a href="mailto:agralhabs@riseup.net" class="color-primary">agralhabs@riseup.net</a>. Se pretendes fazer uma doação de vários materiais, facilitará o processo de selecção se nos facultares uma lista/breve descrição dos conteúdos.
    </p>
    <p class="text-primary">
      Após a aceitação de uma doação, o GT/Biblioteca.social do CSA A Gralha ficará responsável por gerir o tratamento técnico, a localização e as condições de uso desse material.
    </p>

    <h3 class="color-primary">3. Ética, usos e cuidados:</h3>
    <p class="text-primary">
      A biblioteca social é um dispositivo comunitário cujo funcionamento implica responsabilidade, compromisso e relações de cuidado colectivo. Em caso de perda ou dano de um empréstimo, será necessário substitui-lo por um exemplar em bom estado ou realizar um donativo monetário à biblioteca social para a sua aquisição.
    </p>

    <h2 class="color-primary">Como é que se organiza?</h2>
    <p class="text-primary">
      O GT/Biblioteca.social – um dos grupos de trabalho do CSA A Gralha – é responsável pela realização das tarefas necessárias ao funcionamento da biblioteca (por exemplo, gestão de empréstimos, gestão de doações, catalogação, organização de actividades, difusão, logística, etc.).
    </p>


    <h2 class="color-primary">Como é que podes participar?</h2>
    <ul class="text-primary">
      <li>Integrar o GT/Biblioteca.social;</li>
      <li>Propor a organização de actividades (por exemplo, clubes de leitura, conversas e debates, grupos de tradução, oficinas);</li>
      <li>Fazer uma doação;</li>
      <li>Dar contributos para o acervo digital.</li>
    </ul>

    <h2 class="color-primary">Contactos</h2>
    <p class="text-primary">
      Biblioteca social | Email: <a href="mailto:agralhabs@riseup.net" class="color-primary">agralhabs@riseup.net</a><br/>
      Travessa Anselmo Braamcamp, 74, Bonfim, Porto <br/>
      CSA A Gralha
    </p>

    <button type="button" class="btn btn-primary btn-lg btn-block bg-primary"
            (click)="enter();">Acessar a Biblioteca Social</button>
  </div>

</div>
